/* @font-face{
  font-family:;
  src:
} */

body {
  margin: 0;
  font-family: Abel;
}

.navbar {
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
}
/* 
.navbar a {
  float: left;
} */


/* ---------------------------------- */

div#root {
  background-color: #252527;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  margin: 0;
}

/* .navbar {
  display: inline-block;
  width: 50px;
  padding: 12px;
  margin: 0 6px 6px;
  background: blue;
  text-Decoration: none;
  color: white;
} */

.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0);
  transition: 0.3s;
  width: 40%;
  width: calc(33% - 2rem);
  flex-basis: auto
} 

.card-container {
  display: flex;
  flex-flow: row wrap;
  gap: 10px;
  gap: 10px 20px;
  row-gap: 10px;
  column-gap: 20px;
}

.card-image{
  width: 100%;
  height: 100%;
  flex-basis: auto;
  flex-flow: row wrap;
  display: inline;
  
}
a:link {
  color: #e3caab;
}
a:visited {
  color: #e3b093;
}
.container{
  border: #e3b093;
  border-color: #e3b093;
  color: #e3caab;
  width: 100%;
  height: 100%;

  
}

.card-img {
  width: 200px;

}

.divrLogo {
  display: flex;
  margin: auto;
}

.navbar {
  overflow: hidden;
  background-color: #282c34;
  position: fixed;
  top: 0;
  width: 100%;
  height: 50px;
}

small {
  font-size: 17px;
  color: white
}

.navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 16px 25px;
  text-decoration: none;
  font-size: 17px;

  --b: 3px;   /* border thickness */
  --s: .45em; /* size of the corner */
  --color: #e3b093; 
  color: #e3caab;
  --_p: var(--s);
  background:
    conic-gradient(from 90deg at var(--b) var(--b),#0000 90deg,var(--color) 0)
    var(--_p) var(--_p)/calc(100% - var(--b) - 2*var(--_p)) calc(100% - var(--b) - 2*var(--_p));
  transition: .3s linear, color 0s;
  border: 0;
}

.navbar a:hover {
  /* background: #ddd;
  color: black; */
  --_p: 0px;
  outline-color: var(--color);
  outline-offset: .05em;

}

.searchbar {
  font-family: "Lato", sans-serif;
  border: 0;
  font-size: 1.8rem;

  outline: 0;
  width: 300px;
  padding: 0 1.6rem;
  border-radius: .7rem;
  position: absolute; /* MDN position */
  top: 8px;
  right: 2%;
}


.Detail_Images{
  flex-basis: 40%;
  width: 500px;
  height: 400px;
  margin: 0;
  margin: auto;
  display: block;

  object-fit: cover;

}
.row {
  display: flex;
}

.column {
  flex: 33.33%;
  padding: 5px;
}
.Detail_Container{
  display: block;
  justify-content: center;
  margin: auto;
  text-align: center;
  color: #e3caab;
} 
.small{
  color: #e3b093;
}



